<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated colmenaMLI -->
      <package
            uri="http://www.example.org/colmenaMLI"
            class="colmenaMLI.ColmenaMLIPackage"
            genModel="model/colmenaMLI.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated colmenaMLI -->
      <package
            uri="http://www.example.org/colmenaML"
            class="colmenaML.ColmenaMLPackage"
            genModel="model/colmenaMLI.genmodel"/>
   </extension>

</plugin>
